body
{
	background-image: url("image/bg1.jpg");
	background-color: #000;
	background-size: 100%;
	background-repeat: no-repeat;
}
#navbar
	{
	border: 0;
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	overflow: hidden;
	background-color: #2d2d30;
	width: 100%;
	letter-spacing: 1px;
	font-size: 14px !important;
	margin-top: -8px;
	line-height: 45px;
	opacity: 0.78;
}
#navbar a 
{
	background-color: transparent;
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	text-decoration: none;
  	margin: auto;
  	margin-left: 40px;
  	font-family: Montserrat, sans-serif;
  	align-self: center;
}

#navbar a:hover 
{
  	color: #9E9E9E;
  	opacity: 0.4;
}

.sticky 
{
	top: 2;
	position: fixed;
  	width: 100%;     
}
